/*Variables*/
@bgColor: #636e72;
@bbtStripColor: #00b894;
@sherlockStripColor: #0984e3;
@silicon-valleyStripColor: mix(@bbtStripColor, @sherlockStripColor);
@black-mirrorStripColor: darken(@bbtStripColor, 30%);

@stripW: 100%;
@stripH: 215px;


body {
  background-color: @bgColor;
  color: softlight(@bgColor, #fff);
  font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;
}

h1 {
 color: contrast(@bgColor);
}

.stripSize() {   //Mixin
  width: @stripW;
  height: @stripH;
}

.imgSize() {  //Mixin
  height: 200px;
  width: 100%;
}

.padding() {
	padding: 20px;
}
.bbt{
  background-color: @bbtStripColor;
  .stripSize;
}

.bbt__timer {
	color: contrast(@bbtStripColor);
}

.bbt__description {
	color: contrast(@bbtStripColor);
	.padding;
}

.bbt__img img {
	.imgSize;
}



.sherlock{
  background-color: @sherlockStripColor;
  .stripSize;
}

.sherlock__timer {
	color: contrast(@sherlockStripColor);
}

.sherlock__description {
	color: contrast(@sherlockStripColor);
	.padding;
}

.sherlock__img img {
	.imgSize;
}


.silicon-valley{
  background-color: @silicon-valleyStripColor;
  .stripSize;
}

.silicon-valley__timer {
	color: contrast(@silicon-valleyStripColor);
}

.silicon-valley__description {
	color: contrast(@silicon-valleyStripColor);
	.padding;
}

.silicon-valley__img img {
	.imgSize;
}


.black-mirror{
  background-color: @black-mirrorStripColor;
  .stripSize;
}

.black-mirror__timer {
	color: contrast(@black-mirrorStripColor);
}

.black-mirror__description {
	color: contrast(@black-mirrorStripColor);
	.padding;
}

.black-mirror__img img {
	.imgSize;
}

//прижать футер к низу
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  display: table;
  height: 100%;
}
.row {
  display: table-row;
  height: 100%;
}

.copyright {
   color: darken(softlight(#607D8B, #fff), 10%);
   
   a {
     text-decoration: none;

   }
     a:hover {
         color: saturate(#428bca, 30%);
     }
     a:visited {
         color: darken(#428bca, 10%);
     }
}