/* Contdonwn */

// body {
//     background: #222 url('../images/bg.gif') repeat;
//     color: #fff;
//     -moz-text-shadow: 0 -1px 0 #000;
//     -webkit-text-shadow: 0 -1px 0 #000;
//     text-shadow: 0 -1px 0 #000;
//     font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;
// }

.bg-gradient {
    position: fixed;
    width: 1000px;
    height: 1000px;
    top: 50%;
    left: 50%;
    z-index: -1;
    margin: -500px 0 0 -500px;
    background: url('../images/bg-gradient.png') no-repeat center;
}

// .container {
//     text-align: center;
//     margin: 0 auto;
//     width: 800px;
//     height: 400px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin: -200px 0 0 -400px;
// }
    
// h1,
// h2 {
//     margin: 0;
//     color: #eee;
//     -moz-text-shadow: 0 3px 3px #000000;
//     -webkit-text-shadow: 0 3px 3px #000000;
//     text-shadow: 0 3px 3px #000000;
// }
    
// h1 {
//     font-size: 60px;
//     margin: 0 0 10px;
//     line-height: 1;
// }

// h2 {
//     font-size: 18px;
// }


#CDT1, #CDT2, #CDT3, #CDT4, #CDT5, #CDT6 {
    font-size: 50px;
    color: #eee;
    margin: 50px 0 100px;
    font-weight: bold;
}

#CDT1 .number-wrapper, #CDT2 .number-wrapper, #CDT3 .number-wrapper, #CDT4 .number-wrapper, #CDT5 .number-wrapper, #CDT6 .number-wrapper {
    margin: 10px;
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

#CDT1 .number, #CDT2 .number, #CDT3 .number, #CDT4 .number, #CDT5 .number, #CDT6 .number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #000;
    background-image: linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 12px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #555;
    -moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}
       
#CDT1 .line, #CDT2 .line, #CDT3 .line, #CDT4 .line, #CDT5 .line, #CDT6 .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;
    background: #000;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
  
#CDT3{
    margin-top: -150px;
}

#CDT4 {
    margin-top: -178px;
}

.caption {
   font-size: 12px;
   position: absolute;
   bottom: -30px;
   left: 0;
   text-align: center;
   width: 100%;
   color: #777;
}
    
footer {
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    color: #777;
}

footer p {
    margin: .5em 0;
    line-height: 1.5;
}