body {
	text-align: center;
	background: url(../img/Shakhe_River.jpg); 
	background-size: cover; 
	color: #fff;
  }
  
  h1, a:hover {
  color: #FFA500	;
  }
  
   .row {
	background-color: rgba(0, 0, 0, 0.3);
  }

  a {
	text-decoration: none;
	color: #FFCE73;  
	font-size: 14px;
  }
  
  a:hover {
	  text-decoration: none;
  }
  
  input {
	  width: 100px;
	  padding-left: 5px;
	  border-radius: 5px;
  }
  
  .amount {
	width: 75px;
  }

  .result {
	width: 250px;
  }

  p {
	color: #fff;
	margin-bottom: 1px;
  }
 
 button {
	 margin-bottom: 10px;
 }

 .col-form-label {
	padding-right: calc(.375rem + 1px);
 }


  footer {
  color: #bebebe;
  background-color: rgba(0, 0, 0, 0.45);  
  font-size: 13px;
  }
  
  /* прижать футер к низу */
  * {
	margin: 0;
	padding: 0;
  }
  html,
  body {
	height: 100%;
  }
  .container {
	display: table;
	height: 100%;
  }
  .row {
	display: table-row;
  height: 100%;
  }