body {
  background-color: #ecf0f1;
}
h1, a:hover {
  color: #f39c12;
}
#out {
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: #16a085;
  font-size: 14px;
}

a:hover {
	text-decoration: none;
}